.jumbotron {
	background-color: black;
}

.header {
	color: white;
	font-family: "Linden Hill", serif;
}

@font-face {   
	font-family: "Linden Hill";   
	src: url("LindenHill-webfont.ttf") format("opentype"); 
}

.navbar {
	
}

@media (min-width: 1200px) {     
	.container{         
		max-width: 970px;    
	 } 

h1 {
	text-align: center;
}

