.jumbotron {
	
	background: url("https://img.wallpapersafari.com/desktop/1600/900/6/12/JegsTi.jpg")
}

.header {
	color: white;
	font-family: "Linden Hill", serif;
}

@font-face {   
	font-family: "Linden Hill";   
	src: url("LindenHill-webfont.ttf") format("opentype"); 
}

@media (min-width: 1200px) {     
	.container{         
		max-width: 970px;    
	 } 
}

h1 {
	text-align: center;
}

.container {
	color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.t1 {
	font-style: italic;
}

img {
	width: 300px;
	height: 650px;
}
	
.container-2 {
	border: dashed;
	padding: 50px;
	font-family: "Linden Hill", serif;
}

h2 {
	text-align: center;
}
