.jumbotron {
	background-color: black;
}

.header {
	color: white;
	font-family: "Linden Hill", serif;
}

@font-face {   
	font-family: "Linden Hill";   
	src: url("LindenHill-webfont.ttf") format("opentype"); 
}

#navbar {
	width: 768px;
	
}